.d-sm-flex {
  gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.list-group-item {
  border: 0;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.container-fluid {
  font-family: "Epilogue", sans-serif !important;
}
.container {
  max-width: 1300px !important;
  min-height: 80vh;
  height: 80vh;
}
.col,
.row {
  height: 100%;
}

 